body {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

.center {
    margin: 0 auto;
}

.content {
    //margin: 0 auto;
    width: 960px;
}

.clear {
    clear: both;
}



#slide1 {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 400px;
    z-index: 0;
}

#slide2 {
    background-color: #ffffff;
    color: #222222;
    height: 300px;
    z-index: 1;
    padding: 50px;
}

#slide3 {
    background-color: #222;
    color: #dddddd;
    height: 445px;
    overflow: hidden;
    z-index: 1;
}

#slide4 {
    background: rgba(0, 0, 0, 0.33);
    color: #fff;
    height: 250px;
    z-index: 0;
}


.powr-digital-download{
    width: 400px;
    height:100%;
    float: left;
    padding: 0;
}
#slide2 p{
    font-family: 'Droid Serif', serif;
    line-height: 1.4em;
    width: 600px;
    margin-left: auto;
    margin-right:auto;
}
p a{
    
    color: #226;
    
}
p a:visited{
    
    color: #222;
    
}